body {
	background: #ccc;
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.board {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	border: 1px solid #333;
	background: #333;
}
.board > .square {
	border: 5px solid #fff;
	border-radius: 100%;
}
